.container{
    height: 100%;
    width:20vw;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid rgb(215, 215, 215);
}

.container h1{
    text-align: center;
    color: rgb(0, 0, 0);
    position: relative;
    margin-top: 5px;
}
.container h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:20%;
    height: 1px;
    width: 60%;
    background-color: rgb(0, 0, 0);
}

.controllerForm{
    display: flex;
    position: relative;
    flex-direction: column;
}

.inputText{
    position: relative;
    width: 90%;
    margin: 15px 5%;
    display: flex;
    justify-content: center;
    
}
.inputText .labelHolder{
    position: absolute;
    top:0;
    left:0;
    right:0;
}
.inputText label{
    position: absolute;
    left : 10%;
    top : 5px;
    padding: 2px 5px;
    background-color: white;
    pointer-events: none;
    color: rgba(145, 143, 143, 0.5);
    transition: all 0.15s ease-out;
}
.inputText :is(input[type=text],textarea){
    position: relative;
    width: 100%;
    padding: 10px;
    border-style: none;
    outline: none;
    border-bottom: 1px solid rgba(145, 143, 143, 0.5);
}

.inputText textarea{
    resize: vertical;
    min-height: 50px;
}

.inputText:focus-within label, .inputText :is(input[type=text],textarea):valid + .labelHolder label{
    top:-20px;
}

.inputText::after {
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    height: 1px;
    transition: all 0.15s;
    width: 0%;
    background-color: rgb(0, 0, 0);
}
.inputText:focus-within:after{
    left:0;
    width: 100%;
}

.inputButtonRight{
    position: relative;
    width: 100%;
    margin: 15px 0px 15px 0;
    display: flex;
    justify-content: flex-end;
}

.inputButtonRight button,
.deleteButtonPadding .cardDeleteButton{
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    cursor: pointer;
    margin-right: 5%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: rgb(215, 215, 215);
}


.cardContainer .card{
    padding: 5px 10px;
    margin: 15px 10px;
    background-color: rgb(221, 249, 193);
    border-radius: 5px;
    border: 1px solid rgb(249, 160, 63);
}

.cardContainer {
    position: relative;
    border-radius: 5px;
    margin: 10px 5%;
    padding: 10px;
    border: 1px solid rgb(156, 156, 156);
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.title{
    font-size: 18px;
    font-weight: bold;
}

.description{
    font-size: 14px;
    color: rgba(18, 18, 18, 0.5);
}

.deleteButtonPadding{
    padding: 5x;
    display: flex;
    justify-content: flex-end;
}

.deleteButtonPadding .cardDeleteButton{
    background-color: red;
    color: white;
}

.cardPadding{
    padding:4px 6px;
}

.cardInfoPrompt{
    padding: 30px 10px 10px 10%;
    font-weight: bold;
}

.cardContainer button{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 5px;
    right:0;
    top:0;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgb(215, 215, 215);
}
.cardContainer button:hover{
    background-color: black;
}
.cardContainer button::after{
    content: '';
    position: absolute;
    display: block;
    background-color: black;
    width: 2px;
    left: 12px;
    top: 5px;
    bottom: 5px;
    transform: rotate(45deg);
}
.cardContainer button::before{
    content: '';
    position: absolute;
    display: block;
    background-color: black;
    width: 2px;
    left: 12px;
    top: 5px;
    bottom: 5px;
    transform: rotate(-45deg);
}
.cardContainer button:hover::after,
.cardContainer button:hover::before{
    background-color:rgb(215, 215, 215);;
}