.container{
    position: relative;
    height: 90dvh;
    width: 100dvw;
    display: flex;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
}