.container {
    height:90dvh;
    position: relative;
     /* flex-grow: 1;  */
    width:80vw;
    background-color: rgb(215, 215, 215);
}

.SVGMain{
    height:100%;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .container{
        width: 70vw;
    }
}


@media screen and (max-width: 768px) {
    .container{
        height: auto;
        width: auto;
        aspect-ratio: 1 / 1;
    }
}