.container{
    background-color: var(--form-background-color);
    padding: 30px 10px;
    border-radius: 5px;
    position: relative;
}

.container h1{
    text-align: center;
    color: var(--nav-text-color);
}

.inputContainer{
    position: relative;
    width : max(30dvw,300px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--home-text-color);
    margin : 10px 0;
}

.inputContainer button{
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: rgb(215, 215, 215);
}
.errorContainer{
    margin: 10px 0;
}
.errorContainer p{
    font-weight: bolder;
    color : red;
}

.container .loader{
    position: absolute;
    top :0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .loader .loader_innercontainer{
    position: relative;
    width: 80%;
}