.container{
    height: 90vh;
    margin: 0 max(20vw,10px);

    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap : 10px
}


.createChartContainer{
    padding: 5px 15px;
}
.createChartContainer form {
    display: flex;
    align-items: center;
    gap : 10px;
}
.createChartContainer form label {
    color: var(--home-text-color);
}
.createChartContainer form input {
    padding: 10px 15px;
}
.createChartContainer form button {
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    cursor: pointer;
    margin-right: 5%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: rgb(215, 215, 215);
}

.loaderContainer{
    position: relative;
    height : 10dvh;
    width : 100%;
}


.myChartList{
    margin : 5px 15px;
}
.myChartList h1{
    color: rgb(0, 0, 0);
    position: relative;
    margin-top: 5px;
    margin: 10px;
    color: var(--home-text-color);
}
.myChartList .chartList{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap : 8px;
    
}


.chartItemContainer {
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--home-text-color);
}
.chartItemContainer .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.chartItemContainer p {
    text-transform: capitalize;
}
.chartItemContainer button {
    position: relative;
    height : 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    justify-self: flex-end;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.chartItemContainer button img {
    height: 80%;
    width: fit-content;
}
.chartItemContainer button:hover {
    background-color: red;
}
.chartItemContainer button:hover img {
    filter : invert(100%)
}


@media screen and (max-width: 850px) {
    .container{
        margin: 0 10px;
    }
    .createChartContainer form {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto;
    }
    .createChartContainer form label {
        grid-column: 1 / -1;
    }
}

