.container{
    position: absolute;
    top:0;
    left:0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0,0,0,0.7);
}

.promptForm{
    padding: 30px;
    background-color: var(--prompt-form-color);
    border-radius: 5px;
}
.promptForm label{
    color: var(--home-text-color);
    padding: 20px;
}
.promptForm div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.promptForm button{
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: rgb(215, 215, 215);
}